<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996889960936-4pejpdgliajbjb9iegae4skl1l3k13q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996889960936-4pejpdgliajbjb9iegae4skl1l3k13q0</string>
	<key>API_KEY</key>
	<string>AIzaSyBX14Ql1b2wjR2IxyTLHY9cCHxxjQoeGOo</string>
	<key>GCM_SENDER_ID</key>
	<string>996889960936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trabalho1</string>
	<key>PROJECT_ID</key>
	<string>agroapp-e54d0</string>
	<key>STORAGE_BUCKET</key>
	<string>agroapp-e54d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996889960936:ios:ac6959168f042743f9c45d</string>
</dict>
</plist>